/* global */
header {
    background: linear-gradient(90deg, rgba(0,212,255,100) 0%, rgba(121,9,92,51) 35%, rgba(0,212,255,100) 100%);
    text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    flex: 0 0 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/* search */
#searchForCity {
    display: block;
    flex-wrap: wrap;
    width: 25%;
    margin-right: 5%;
}

#searchForCity h2 {
    text-align: center;
    margin: 5px;
}

#search-box {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: 5px;
}

#searchBtn {
    background-color: rgba(121,9,92,51);
    color: white;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
}

.btns button{
    background-color: rgba(0,212,255,100);
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
    padding: 10px 24px;
    margin: 10px;
    width: 100%;
    display: block;
}

.btns button:not(:last-child) {
    border-bottom: none;
  }

.btns button:hover {
    background-color: #cbcfcd;
    color: black;
}

/* post search display */
#displaySearchH2 {
    margin: 0px;
}
#displays {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.displayText {
    font-size: 16px;
    font-weight: normal;
}

#displayMain {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: black 1px solid;
    width: 100%;
}

#display {
    columns: 5;
    min-width: 100%;
    min-height: 120px;
    color: white;
}

#fiveDay {
    border: 1px white solid;
    background-color: rgb(93, 95, 128);
    padding-left: 10px;
    min-height: 120px;
    padding-bottom: 18px;
}

#day1, #day2, #day3, #day4, #day5 {
    padding-top: 10px;
}

#date.fiveDayText {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.fiveDayText {
    font-size: 16px;
    font-weight: normal;
    margin-top: 0px;
}

#displaySearch {
    padding-top: 10px;
    padding-left: 10px;
}

#nameDate h2 {
    margin: 0;
}